/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 0px;
  cursor: zoom-in;
  transition: 0.3s;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 10%; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.95); /* Fallback color */
  /* align-items: center; */
  display: none;
}

.modal-image-container-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image-container {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;

}


/* Modal Content (Image) */
.modal-content {
  max-height: 70vh;
  max-width: 80vw;
  /* margin-top: 100px; */
  object-fit: contain;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  display: flex;
  height: 20px;
  justify-content: center;
  align-content: flex-start;
  margin-top: 10px;
  width:  100%;
  color: #ccc;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

